<h2 ng-bind="customersProfileCtrl.customer.name"></h2>
<p ng-bind="customersProfileCtrl.customer.name"></p>
<p ng-bind="customersProfileCtrl.customer.email"></p>
<p ng-bind="customersProfileCtrl.customer.telephone"></p>
<p ng-bind="customersProfileCtrl.customer.address"></p>
<p ng-bind="customersProfileCtrl.customer.street"></p>
<p ng-bind="customersProfileCtrl.customer.state"></p>
<p ng-bind="customersProfileCtrl.customer.city"></p>
<p ng-bind="customersProfileCtrl.customer.zip"></p>
<div layout="row" layout-wrap layout-align="end center">
    <md-button class="md-raised" type="button" ng-click="customersProfileCtrl.onEditClick()">Edit</md-button>
    <md-button class="md-raised md-warn" type="button" ng-click="customersProfileCtrl.onDeleteClick()">Delete</md-button>
</div>